##############################################
#
# Genreral
#
##############################################
*.swp
tags
.DS_Store
##############################################
#
# Design
#
##############################################
# vscode の設定を強制したいならコメントにすること
V2.1/Design/source/.vscode/settings.json
# gh-pages にも、この .gitignore は copy されるので下記は設定してはダメ
# 下記の ignore は docs branch の repo root 以外でやること。
# 自分の clone してきた .git/info/exclude など。
V2.1/Design/source/_build/
##############################################
#
# UserManual
#
##############################################
V2.1/UserManual/source/_build/
##############################################
#
# OnBoarding
#
##############################################
V2.1/OnBoarding/source/_build/
# vscode の設定を強制したいならコメントにすること
V2.1/OnBoarding/source/.vscode/settings.json
